.embla {
  position: relative;
  background-color: transparent;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  border: 2px solid #e75480;
  box-shadow: #e75480 0px 3px 50px -12px;
  margin: 0 auto;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  height: 600px;
  position: relative;
  min-width: 100%;
  padding: 0;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
}

.embla ul {
  list-style: none;
  margin: 0 auto;
  width: fit-content;
}

.embla ul li {
  margin: 0.5em 0.5em;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  opacity: 80%;
  box-shadow: #e75480 0px 3px 50px -12px;
}

.selected {
  background-color: #e75480 !important;
}
@media (max-width: 700px) {
  .embla ul li {
    width: 20px;
    height: 20px;
  }

  .embla__slide {
    height: 480px;
    padding: 0;
  }

  .embla__viewport {
    margin: 0;
  }
}
