html,
body {
  overflow-x: hidden;
  padding: 1em 0 0 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 10em;
}

@media (max-width: 1350px) {
  h1 {
    font-size: 4em;
    text-align: center;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 3em;
    text-align: center;
  }
}
