.main hr {
  width: 30%;
  margin-left: 3em;
}

.right {
  margin-left: auto !important;
  margin-right: 3em;
}

.main {
  padding-bottom: 10em;
  overflow-y: hidden;
}

@media (max-width: 1850px) {
  .main {
    width: fit-content;
    padding: 0;
    margin: 0;
  }
}
