.navbar {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 50px;
    display: block;
    text-align: center;
}

.navbar p {
    padding: 10px;
    color: #e75480;
}
.navbar .link ul {
    list-style: none;
}

.navbar .link li {
    font-size: 15px;
    padding: 10px 1em;
    display: inline-block;
    color: white;
}

.navbar .link .active {
    color: #e75480;
}

.logo {
    display: none;
}

@media(min-width:400px) {
    .navbar .link li {
        font-size: 20px;
        padding: 10px 1em;

    }
}

@media(min-width: 600px) {
    .logo {
        display: inline-block;
        font-size: 20px;

    }

    .navbar {
        height: 56px;


        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .link li {
        font-size: 20px;
        padding: 10px 1em;

    }
}

@media(min-width: 1200px) {
    .logo {
        font-size: 25px;
    }

    .navbar .link li {
        font-size: 25px;
        padding: 10px 2em;

    }
}
