.projectSection {
    padding: 5em 5em 5em 2em !important;
    max-width: 100vw !important;
    display: grid;
    /* grid-template-columns: auto [line1] 20% [end]; */
    grid-template-columns: 20% [line1] auto [end];


}
.header {
    /* grid-column-start: line1; */
    width: 20%;
    height: 300px;
    width: 225px;
    margin: 4em 0 0 4em;
    background-color: #e75480;
}

.header h1 {
    transform: rotate(-90deg);
}

.content {
    grid-row-start: 1;
    margin: -250px auto 0;
    width: 100% !important;
    padding-left: 2em;
    grid-column-start: line1;
}

.projectSection .bottom {
    width: 50%;
    margin-top: 4em;
    margin-right: 2em;
    margin-left: auto;
}

.currently {
    grid-column-start: line1;
    width: fit-content;
    margin: 1em auto;
}
.currently h2 {
    text-align: center;
    font-size: 30px;
    color: #e75480;
    margin-bottom: 20px;
}

.currently a {
    display: block;
    margin-top: 3px;
}

.githubLink {
    padding: 2em;
    margin: 0 auto;
    display: block;
    border: 1px solid #e75480;
    background-color: white;
    color: black;
    box-shadow: #b94366 0 3px 70px -12px;


}

.currently a:hover {
    color: #e75480
}

@media(max-width: 1850px) {

    .projectSection {
        max-width: 90vw !important;
        padding: 0 !important;
        display: block;
        margin: -200px auto 20px !important;
    }

    .header {
        margin: 2em 0 !important;
        background-color: transparent;
        width: 100%;
        display: block;
        height: fit-content;
    }

    .header h1 {
        text-transform: uppercase;
        text-align: center;
        transform: rotate(0);
    }

    .content {
        margin: 0;
        padding: 0;
    }
}

@media(max-width: 500px) {
    .header {
        padding: 0;
        margin: 0;
    }
    .content {
        margin: 0;
        padding: 0;
    }
}
